<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo3" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a href="home" class="navbar-brand btn btn-dark">
        <i class="fa fa-home" aria-hidden="true">
            <fa-icon [icon]="faHouse"></fa-icon>
        </i>
    </a>

    <div class="collapse navbar-collapse" id="navbar-TogglerDemo3">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            
            <li class="nav-item">
                <a routerLink="books" routerLinkActive="active" class="btn btn-dark">Books</a>
            </li>
            <li class="nav-item">
                <a routerLink="addbook" routerLinkActive="active" class="btn btn-dark">Add New Books</a>
              </li>

        </ul>
        <a href="basket" class="btn btn-dark">
            <i class="fa fa-shopping-cart" aria-hidden="true">
                <fa-icon [icon]="faCartShopping"></fa-icon>
            </i> Basket
        </a>
    </div>

</nav>